
body {
    background-color: #ECEFF1;
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inputText {
    padding: 2em;
    color: #424242;
}

x